.my-table {
    /* max-width: 900px; */
    margin: 0 auto;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    border-color: green;
    margin-top: 1rem;
    height: auto;
}

.head{
    border: 2px solid;
    border-color: green;
    margin-top: 2rem;
    border-radius: 10px;
    
}

.addButton2{
    display: flex;
    justify-content: flex-end;
}
.table-head{
    background-color: green;
}

.pad {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin-top: 1rem;
}

