/* styles.css */

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Alternate row background color */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Header text alignment */
  th {
    text-align: center;
  }
  
  /* Center align text in table cells */
  td {
    text-align: center;
  }
  
  /* Header text color */
  th {
    color: #333;
  }
  
  /* Hover effect on table rows */
  tr:hover {
    background-color: #ddd;
  }

  h3 {
    text-align: left;
    margin-top: 10px;
  }

  .customerName{
    margin-bottom: 40px;
    width: 100%;
    height: 40px;
  }


  